#p1 {
    color: #FF5733;
}

#p2 {
    color: #33FF57;
}

#p3 {
    color: #3357FF;
}

#p4 {
    color: #F1C40F;
}

#p5 {
    color: #8E44AD;
}

#p6 {
    color: #E67E22;
}

#p7 {
    color: #3498DB;
}

#p8 {
    color: #2ECC71;
}

#p9 {
    color: #E74C3C;
}

#p10 {
    color: #9B59B6;
}