.container{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
}

.container:hover{
    border-radius: 50%;
    transform: translate(50px);
    background-color: blue;
}