.container{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
}


.container:hover{
    transform: translateX(-10px);
    transform: rotate(-100deg);
    transform: scale(0.5);

}