*{
    margin: 0;
    padding: 0;
}


.container{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: red;
    animation: myAnimation 3s infinite;
}


@keyframes myAnimation{
    0% {
        width: 100px;
        height: 100px;
        background-color: red;
        transform: translateX(0);
    }
    50% {
        width: 150px;
        height: 150px;
        background-color: blue;
        transform: translateX(50px);
    }
    100% {
        width: 200px;
        height: 200px;
        background-color: green;
        transform: translateX(100px);
    }
}